{% extends "appuser/base.html" %}
{% block content %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">Login Window
                </h1>
                <p class="text-white link-nav"><a href="/">Home </a><span class="lnr lnr-arrow-right"></span><a
                        href="login">Login Window</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section class="home-about-area section-gap" id="about">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-md-12 home-about-right relative">
                <form class="form-wrap" method="post">
                    {%csrf_token%}
                    <h4 class="text-white pb-20">Login Here!</h4>
                    <label class="text-white">User Role</label>
                    <input type="radio" name="urole" value="admin" checked required><label
                        class="text-info">Admin</label>
                    <input type="radio" name="urole" value="customer" required><label class="text-info">Customer</label>
                    <input type="text" name="umobile" maxlength="10"
                           pattern="[789][0-9]{9}" class="form-control" placeholder="Mobile Number" required>
                    <input type="password" name="upassword" class="form-control" placeholder="Password" required>
                    <input type="submit" class="primary-btn" value="Login"/>
                    <label class="text-danger">{{message}}</label>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}